<div class="container">
  <h1>All restaurants</h1>
  <br>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <p><%= restaurant.address %></p>
  <% end %>
</div>
